.navbar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: flex-end;
    background-color: rgb(49, 49, 49);
    color: white;
    margin-top: 0;
}

.navbar > div {
    padding: 20px 20px;
}

.navbar > div:hover {
    background-color: #0b4b5a;
}
